/* clarification comment for wordpress */
/*
Theme Name: asns-child
Template: asns
Theme URI: https://wordpress.org/themes/asns/
Author: ASNS | AHMED SALAH
Author URI: 
Description: theme is clean & designed for clarity. straightforward typography is readable on a wide variety of screen sizes, suitable for multiple languages and translation ready. all about slick designs .
Version: 1.0
Tags: black, blue, gray, pink, purple, white, yellow, dark, light,one-column,left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu,editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: asns
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/
