/*
@package asns theme
	======================================
		ADMIN STYLE
	======================================
*/

table tr {
    border-bottom: 2px outset #ffffff;
}

table th {
    border-right: 2px outset #ffffff;
}

table tr:first-child {
    border-top: 2px outset #ffffff;
}

form.asns-admin-page-form .form-table #s-e {
    border-right: 2px groove #ffffff;
    float: left;
    margin: 0 3px 0 0;
}

/*------------------*/
/*wp-footer css*/

#wpfooter {
    background: #523F6D none repeat scroll 0 0;
}
#wpfooter p{
    color: #fff;
}
#wpfooter a{
    color: #000;
}
#wpfooter .credit span:first-child{
    color: #ffd700;
}
#wpfooter .credit span:nth-child(2){
    color: #1e90ff;
}

/****************************************/
/* admin menu bar css */

#wpadminbar {
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    transform:translateX(-100%);

    -webkit-transition:all 1s cubic-bezier(0.3, 0, 0.1, 0.5) 0s;
    -moz-transition:all 1s cubic-bezier(0.3, 0, 0.1, 0.5) 0s;
    -ms-transition:all 1s cubic-bezier(0.3, 0, 0.1, 0.5) 0s;
    -o-transition:all 1s cubic-bezier(0.3, 0, 0.1, 0.5) 0s;
    transition:all 1s cubic-bezier(0.3, 0, 0.1, 0.5) 0s;

}

#wpadminbar #wp-admin-bar-root-default #wp-admin-bar-menu-button-open{
    background:#d4003c;
    left:100%;
}
#wpadminbar #wp-admin-bar-root-default #wp-admin-bar-menu-button-close{
    background:#d4003c;
    left:0%;
}

#wpadminbar #wp-admin-bar-root-default #wp-admin-bar-menu-button-open span::before,
#wpadminbar #wp-admin-bar-root-default #wp-admin-bar-menu-button-close span::before,
#wpadminbar #wp-admin-bar-top-secondary li span::before,
#wpadminbar #wp-admin-bar-top-secondary li span::before{
    line-height:1.5;
}


#adminmenu li.menu-top {
    background: #dc143c none repeat scroll 0 0;
}

/****************************************/
/*------------------*/
/*admin intro css*/

.body-intro::after {
    background: #4169e1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}

.intro-loader {
    background: #4169e1 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    margin: 0 auto;
    display: none;
}


.intro-loader object{
    display: table;    
    margin: 15% auto;
}



/*--------------------------------*/

#wpbody-content > h1 {
    background: #66cdaa none repeat scroll 0 0;
    border-left: 5px solid #ffa500;
    padding: 1%;
}

.asns-sidebar-preview {
    background: #dc143c none repeat scroll 0 0;
    display: inline-table;
    float: left;
    height: auto;
    margin: 1% 2% 1% 1%;
    padding: 1%;
    text-align: center;
    width: 17%;
    -webkit-filter: drop-shadow(-1px 2px 2px #000000);
    filter: drop-shadow(-1px 2px 2px #000000);

    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;

    -webkit-transform: translateY(-155%);
    -moz-transform: translateY(-155%);
    -ms-transform: translateY(-155%);
    -o-transform: translateY(-155%);
    transform: translateY(-155%);
}

.preview-back{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}



.asns-sidebar {
    margin: 0 auto;
    text-align: center;
}

.asns-sidebar-preview #user-profile-pic {
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTf9scjGpJFpj_u1O_TJ5H_xK8crGdMDZ74r-7rJI-lp-SyhPaU") no-repeat center center / cover;
    height: 150px;
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
	border: 3px double #000;
    -webkit-filter: drop-shadow(0px 1px 1px #fff);
    filter: drop-shadow(0px 1px 1px #fff);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.asns-sidebar-preview #logo-pic {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTf9scjGpJFpj_u1O_TJ5H_xK8crGdMDZ74r-7rJI-lp-SyhPaU") no-repeat center center / cover;
    height: 89px;
    margin: 0 auto;
    width: 135px;
    border: 1px solid;
    -webkit-filter: drop-shadow(0px 1px 1px #fff);
    filter: drop-shadow(0px 1px 1px #fff);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}


.asns-sidebar-preview #fav-icon-pic {
    background-repeat: no-repeat!important;
    /*background-size: cover!important;*/
    background-position: center center!important;
    /*background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTf9scjGpJFpj_u1O_TJ5H_xK8crGdMDZ74r-7rJI-lp-SyhPaU") no-repeat center center / cover;*/
    height: 50px;
    margin: 0 auto;
    width: 50px;
    display: inline-flex;
    border: 2px solid;
    /*float: right;*/
    -webkit-filter: drop-shadow(0px 1px 1px #fff);
    filter: drop-shadow(0px 1px 1px #fff);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}
/*
.asns-sidebar-preview #fav-icon-pic::before {
    border-left: 2px solid;
    content: "";
    -webkit-transform: -webkit-translateX(-10px);
    -moz-transform: -moz-translateX(-10px);
    -ms-transform: -ms-translateX(-10px);
    -o-transform: -o-translateX(-10px);
    transform: translateX(-10px);
}
*/
.asns-sidebar-preview #fav-icon-pic:hover .theme-option #fav-icon-pic::before {
    -webkit-filter: drop-shadow(0px 0px 0px #fff);
    filter: drop-shadow(0px 0px 0px #fff);
}

.asns-sidebar-preview #fav-icon-pic:hover {
    -webkit-filter: drop-shadow(0px 3px 3px #000);
    filter: drop-shadow(0px 3px 3px #000);
}


/***********/

.asns-sidebar-preview #user-profile-pic:hover {
	border: 3px double #fff;
    -webkit-filter: drop-shadow(0px 3px 3px #000);
    filter: drop-shadow(0px 3px 3px #000);
}

.asns-sidebar-preview #logo-pic:hover {
    -webkit-filter: drop-shadow(0px 3px 3px #000);
    filter: drop-shadow(0px 3px 3px #000);
}

.asns-sidebar-preview img{
	display: none;
	width: 100%;
	height:100%;
}

.asns-sidebar-preview h1.asns-username {
	color: #4b0082;
	padding: 1%;
	line-height: 25px;
    -webkit-filter: drop-shadow(0px 0px 1px #000000);
    filter: drop-shadow(0px 0px 1px #000000);
}

.asns-sidebar-preview h2.asns-description,
.asns-sidebar-preview h2.logo-h2,
 .asns-sidebar-preview h2.fav-h2{
    color: #ffffff;
    padding: 1%;
    line-height: 25px;
    -webkit-filter: drop-shadow(0px 0px 1px #000000);
    filter: drop-shadow(0px 0px 1px #000000);
}

form.asns-admin-page-form {
    background: #d3d3d3 none repeat scroll 0 0;
    border-left: 2px outset;
    box-shadow: -1px 0 3px 0;
    display: inline-block;
    margin: 1%;
    padding: 1%;

    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;

    -webkit-transform: translateY(75%);
    -moz-transform: translateY(75%);
    -ms-transform: translateY(75%);
    -o-transform: translateY(75%);
    transform: translateY(75%);

}

.form-back{
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    transform: translate(0%,0%);
}


#pic-upload-reset,
#logo-upload-reset,
#fav-icon-upload-reset {
    border-radius: 50%;
    padding: 0;
}
#pic-upload-reset .dashicons.dashicons-image-rotate,
#logo-upload-reset .dashicons.dashicons-image-rotate,
#fav-icon-upload-reset .dashicons.dashicons-image-rotate {
    font-size: 16px;
    margin: 5px 3px 0;
}



.value-wrapper{
    display: none;
}



/****************************/
form.theme-option {
    background: #d3d3d3 none repeat scroll 0 0;
    border-left: 2px outset;
    box-shadow: -1px 0 3px 1px;
    display: inline-block;
    margin: 1%;
    padding: 1%;

    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;

    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    transform: translateX(-150%);
}

.theme-option #fav-icon-pic {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    /*background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTf9scjGpJFpj_u1O_TJ5H_xK8crGdMDZ74r-7rJI-lp-SyhPaU") no-repeat center center / cover;*/
    height: 50px;
    margin: 0 auto;
    width: 50px;
    display: inline-flex;
    float: right;
    -webkit-filter: drop-shadow(0px 1px 1px #fff);
    filter: drop-shadow(0px 1px 1px #fff);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.theme-option #fav-icon-pic::before {
    border-left: 2px solid;
    content: "";
    -webkit-transform: -webkit-translateX(-10px);
    -moz-transform: -moz-translateX(-10px);
    -ms-transform: -ms-translateX(-10px);
    -o-transform: -o-translateX(-10px);
    transform: translateX(-10px);
}
.theme-option #fav-icon-pic:hover .theme-option #fav-icon-pic::before {
    -webkit-filter: drop-shadow(0px 0px 0px #fff);
    filter: drop-shadow(0px 0px 0px #fff);
}


/*****************************/

.dashicons.dashicons-marker{
    color: #008000;
    -webkit-filter: drop-shadow(0px 0px 1px #000000);
    filter: drop-shadow(0px 0px 1px #000000);
}

.asns-admin-page-form .dashicons.dashicons-format-image{
    color: #fff;
    -webkit-filter: drop-shadow(0px 0px 1px #000000);
    filter: drop-shadow(0px 0px 1px #000000);
}


.asns-admin-page-form .dashicons.dashicons-universal-access-alt{
    color: #000000;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}
.asns-admin-page-form .dashicons.dashicons-star-empty{
    color: #ffff00;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}
.asns-admin-page-form .dashicons.dashicons-location-alt{
    color: #afeeee;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}
.asns-admin-page-form .dashicons.dashicons-format-audio{
    color: #ff4500;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}
.asns-admin-page-form .dashicons.dashicons-video-alt3{
    color: #ff0000;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}


.asns-admin-page-form .dashicons.dashicons-id-alt{
    color: #4d00c3;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}

.asns-admin-page-form .dashicons.dashicons-edit{
    color: #fff;
    -webkit-filter: drop-shadow(0px 0px 1px #000000);
    filter: drop-shadow(0px 0px 1px #000000);
}

.asns-admin-page-form .dashicons.dashicons-twitter {
    color: #87ceeb;
    -webkit-filter: drop-shadow(0px 0px 1px #000000);
    filter: drop-shadow(0px 0px 1px #000000);
}
.asns-admin-page-form .dashicons.dashicons-facebook-alt{
    color: #0000cd;
    -webkit-filter: drop-shadow(0px 0px 0.3px #000000);
    filter: drop-shadow(0px 0px 0.3px #000000);
}

